{% extends 'base.html.twig' %}

{% block metatitle %}
	{{ category.title }}
{% endblock metatitle %}

{% block main %}
<main>
	<section class="category-section">
			<h2>{{ category.title }}</h2>
			<div>
				<a href="{{ path('details-category') }}">Voir le détails</a>
			    <article style="background-color: {{ category.color }};" class="article">  {# Donne une classe par couleur aux catégories #}
					<h3>{{ category.title }}</h3>
			    </article>
		    </div>
	</section>
</main>{% endblock main %}