{% extends 'base.html.twig' %}

    {#
    David: Dans votre fonction, grâce à une instance de la classe ArticleRepository 
    et la méthode find, récupérez un article en fonction de son id. Affichez le contenu 
    de l'article dans un fichier twig
    #}
    
    <main>
        <section>
            <article>
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                <img src="{{ article.image }}" alt="{{ article.title }}">
                <p>{{ article.content }}</p>
                <p>Créé le {{ article.createdAt | date()}}</p>
            </article>
        </section>
    
    {% endblock main %}

