{% extends 'base.html.twig' %}
   
    {% block main %}
        <section>
            {% for article in articles %}  {# boucle sur les articles #}
            <article>
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                <img src="{{ article.image }}" alt="{{ article.title }}">
                <p>{{ article.content }}</p>
                <p>Créé le {{ article.createdAt | date()}}</p>
            </article>
            {% endfor %}
        </section>
    
    {% endblock main %}
    
    
    