<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/css/styles.css">
    <title>List-articles</title>
</head>
<body>
    <header>
        <h1>Liste des articles</h1>
    </header>
    <main>
        <section>
            {% for article in articles %}  {# boucle sur les articles #}
            <article>
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
                <img src="{{ article.image }}" alt="{{ article.title }}">
                <p>{{ article.content }}</p>
                <p>Créé le {{ article.createdAt | date()}}</p>
            </article>
            {% endfor %}
        </section>
    </main>
    